html, body, header {
    margin:0;
    padding:0;
    position:relative;
    
}



body {   
    margin: 0;
    font-family : "open sans",  "calibri", "sans-serif";
}

p{font-size : 100%}

a:link 
{ 
 text-decoration:none; 
} 



li{
    padding : 1%;
}


/*gestion du titre de la page*/
#en-tête{
    /*l'image ne se demultiplie pas en feduisant la fenêtre*/
    background: url(images/track.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    
}

#titre_principal{
    width : 100%;
    text-align : center;
    color : #black;
    display : block;
    line-height: 800%;
    padding-top : 5%;
}

#titre_principal h1 {
    
    font-size : 400%;
}

#titre_principal h2 {
    font-size : 300%;
}

#titre_principal h4 {
    font-size : 150%;
}





/*liste des partenaires*/
.dezoom{
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: all0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}
.dezoom:hover{
    transition-timing-function: linear;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
#Partenariat {
    
    background-color : white;
}

ul#liste_partenariat {
    list-style-type : none; /* ne pas afficher les puces*/
    text-align : center;
    margin : 0;
    padding : 0.1%;
}

ul#liste_partenariat li {

    display : inline;
    padding : 2.3%; /* Pour espacer les boutons entre eux */
}

#liste_partenariat img {
    width: 7%;
    height: auto;    
    vertical-align : middle;
}





/*video de presentation*/
#Vpresentation{
    
    padding-top : 6%;
    padding-bottom : 6%;
    
}

#Vpresentation iframe{
    
   width : 50%;
   margin-left: 25%;
   margin-right: auto;
    
}





/*paragraphe d'introduction*/
#intro{
    
    margin-top : 0;
    margin-bottom : 0;
    padding : 1.5%;
    background-color : white;

}


#introPara{
	color : black;
    margin-left : 20%;
    margin-right : 20%;
    text-align : justify;
    font-size : 140%;
}





/*fleche pour ramener vers le haut du site*/
#bouton-navigation img:hover{
	opacity: 1;
    
}

.image-fixed {width:60px;position:fixed;top:5%;right:2%;z-index:1;
opacity: 0.4;
}

/*sommaire du site*/
#sommaire{
	padding-top : 5%;
	background-color : black;
}
.titre{
	background-color : #FFBE17;
	margin-bottom : 5%;
	margin-top : 5%;
}



#VintroBack{
	background : url(images/1.jpg);
}

#jycBack{
	background : url(images/2.jpg);
}

#amBack{
	background : url(images/3.jpg);
}

#jycamBack{
	background : url(images/4.jpg);
}

#ocBack{
	background : url(images/5.jpg);
}

#pwbdccBack{
	background : url(images/7.jpg);
}

#bensBack{
	background : url(images/8.jpg);
}

#ypjrBack{
	background : url(images/9.jpg);
}

#mnBack{
	background : url(images/inter1.jpg);
}

#nkBack{
	background : url(images/inter2.png);
}

#cellBack{
	background : url(images/inter3.jpg);
}

#galerie{
	background : url(images/galerie.jpg);
	
}

.separ{
	overflow : hidden;
}
.zoom{
	overflow : hidden;
	text-align : center;
	font-size : 110%;
	color : white;
	
	width : 300px;
	height: 175px;
	display : flex;
	flex-direction : column;
	justify-content : center;
	
    /*Noir et blanc vers couleur*/
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);

    /*effet zoom*/
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

}

.zoom:hover{

	overflow : hidden;

    /*Noir et blanc vers couleur*/
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);

    /*effet zoom*/
    transition-timing-function: linear;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.SomConf{
	overflow : hidden;
	margin-left : 2.29%;
	margin-right : 2.29%;
}

.SomConfHaut, .SomConfBas{
	
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	overflow : hidden;
}


.somAnnex{
	
display : flex;
	justify-content : center;	

padding-bottom : 2%;
   

}

#SomIntermede {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	overflow : hidden;
}




/*contenu de la page : vidéos*/

.contenu{
	display : flex;
	justify-content : center;	
	color : white;
	padding-bottom : 6%;	
    flex-wrap: wrap;
    align-items: center;
}



.contenu p{
	width : 45%;
	 text-align : justify;
	 padding-right:1%; 
	 padding-left : 1%;
	 vertical-align : center;
}


#videos{
    font-size : 140%;
	background-color: #F1F1F1;
}


.titre{
	padding : 3%;
	text-align : center;
	
}

.titre_bis {
    padding : 3%;
    text-align : center;
	background-color : #FFBE17; 
	font-size: 270%;
}

.titre-video{
	text-align : center;
	background-color : #FFBE17;   
	color : black;
	font-size : 170%;
    padding-top : 2%;
	padding-bottom : 2%;
    margin-bottom : 6%;
	

	
}

.auteur{
    padding-top : 2%;
    font-size : 70%;
}

.auteur2{
	font-size : 70%;
}




#Vconf,#Vintermedes
{
   display: block;
   text-align : center;   

	background-color : black;
}


/*galerie*/

#bibli {

	background-color: black;
	padding-bottom : 15%;
	 text-align : center;   
	
}

/*trailer de la journée*/

.trailer{
    
    
	background-color : black;
    
}

.trailer iframe{
    padding-top : 6%;
    padding-bottom : 6%;
   width : 50%;
   margin-left: 25%;
   margin-right: auto;
    
}




/* Pied-de-page(footer)*/

footer{ 
	background-color : #494949;
		
		font-size : 70%;

}

.pied1 {
	display : flex;
	justify-content : center;
	background-color : #494949;
}


.pied2{
	
	width : 100%;
	background-color : #FFBE17;
	color : black;
	font-size : 100%;
	padding-left:2%;
	padding-right:2%;
	
	}
#pied3{
		
	background-color : #FFBE17;
	color : black;
	padding-left:5%;
	padding-right:5%;
	
	display : flex;
	justify-content : center;	
	
	
}
#pied3 div{

	padding-left:2%;
	padding-right:2%;	
}


#pied2 strong{color : white;
font-size : 100%;
margin-right : 1%;}

#pied2 a{
margin-right : 0.5%;
}

#testtest1{color:white;
text-align : center;
}

#pied3 a{
	color : black;
}

#pied3 a:visited{
	color : black;
}

#pied3 a:hover{
	color : white;
}

#crea{text-align : center;
 margin-bottom : -15px;
 font-weight: bold;
 color : white;}

.credit {
	padding : 2%;
    text-align : center;
	font-size : 140%;
	font-weight : bold;
	color : black;
 }
 
.credit a:visited{
	color : black;
}

.credit a:hover{
	color : white;
}
 

/*css de la page crédits*/

.back_crédit{
	 background-color : #FFBE17;
 }
 
.page_credit {
	padding : 5%;
    text-align : center;
	font-size : 140%;
 }
 
.titre_credit{
	font-weight : bold;
	padding : 2%;
 }